body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("../images/spiration-light.png")
}

h1{
    color: #4aaaa5;
    text-align: center;
    height: 96px;
    padding: 23px 10px 0px 10px;
}

.main {
    background-color:#ffffff;
    border: 2px solid #eeeeee;
    padding: 20px;
}

#myphoto {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;

}
.thumbnail {
    width: 99%;
    align-content: center;
}

.icons {
    background-color:#ffffff;
    border: 2px solid #eeeeee;
    color: #4aaaa5;
    text-align: center;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    border-top: #4aaaa5 solid 2px;
    background-color: #777777;
    color: #4aaaa5;
    text-align: center;
    padding-top: 20px;
}
.label {
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
}
.btn-primary {
    background-color: #4aaaa5;
    border: #4aaaa5;

}
.btn-primary:hover{
    background-color: #43a09b;
}


@media screen and (max-width: 980px) {
    body {
        background-image: url("../images/polka-dots.png")
    }
}

@media screen and  (max-width: 768px){
    body {

    background-image: url("../images/hypnotize.png")
    }
}

@media screen and  (max-width: 640px){
    body {
    background-image: url("../images/skyscraper.png")
    }
}